#preso .content h1 {
  border: none;
}

.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}
.big {
  font-size: 3.8em;
}

@media screen {
  .slide {
    font-size: 1.8em;
  }
}

.slide .red{
  color: red;
}
